@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.custom-bg{
  background-color: var(--teal);
  border-color: 1px solid var(--teal);
}

.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: 1px solid var(--teal_hover);
}

.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}